//.wtmail-icon-imap-folder { background-image: url(../../../../resources/extjs/packages/ext-theme-aria/build/resources/images/tree/folder.png) !important; }

.wtmail-row-today { background-color: #3a4155; }