.wtmail-ico-s { background-image: url('mail_16.png') !important; }
.wtmail-ico-m { background-image: url('mail_24.png') !important; }
.wtmail-ico-l { background-image: url('mail_32.png') !important; }
