.wtmail-icon-service-xs { background-image: url('service_16.png') !important; }
.wtmail-icon-service-s { background-image: url('service_24.png') !important; }
.wtmail-icon-service-m { background-image: url('service_32.png') !important; }
.wtmail-icon-service-l { background-image: url('service_48.png') !important; }

/* actions */
.wtmail-icon-newmsg-xs { background-image: url('statusnew_16.png') !important; }
.wtmail-icon-reply-xs { background-image: url('statusreplied_16.png') !important; }
.wtmail-icon-replyall-xs { background-image: url('replyall_16.png') !important; }
.wtmail-icon-forward-xs { background-image: url('statusforwarded_16.png') !important; }
.wtmail-icon-flagred-xs { background-image: url('flagred_16.gif') !important; }
.wtmail-icon-flagblue-xs { background-image: url('flagblue_16.gif') !important; }
.wtmail-icon-flagyellow-xs { background-image: url('flagyellow_16.gif') !important; }
.wtmail-icon-flaggreen-xs { background-image: url('flaggreen_16.gif') !important; }
.wtmail-icon-flagorange-xs { background-image: url('flagorange_16.gif') !important; }
.wtmail-icon-flagpurple-xs { background-image: url('flagpurple_16.gif') !important; }
.wtmail-icon-flagblack-xs { background-image: url('flagblack_16.gif') !important; }
.wtmail-icon-flaggray-xs { background-image: url('flaggray_16.gif') !important; }
.wtmail-icon-flagwhite-xs { background-image: url('flagwhite_16.gif') !important; }
.wtmail-icon-flagbrown-xs { background-image: url('flagbrown_16.gif') !important; }
.wtmail-icon-flagazure-xs { background-image: url('flagazure_16.gif') !important; }
.wtmail-icon-flagpink-xs { background-image: url('flagpink_16.gif') !important; }
.wtmail-icon-flagcomplete-xs { background-image: url('flagcomplete_16.gif') !important; }
.wtmail-icon-special-xs { background-image: url('flagspecial_16.gif') !important; }
.wtmail-icon-addnote-xs { background-image: url('mailnote_16.gif') !important; }
.wtmail-icon-markseen-xs { background-image: url('statusread_16.png') !important; }
.wtmail-icon-markunseen-xs { background-image: url('statusunread_16.png') !important; }
/*.wtmail-icon-filters-xs { background-image: url('filters_16.png') !important; }
.wtmail-icon-newfilter-xs { background-image: url('filters_16.png') !important; }*/
.wtmail-icon-discussions-xs { background-image: url('discussions_16.png') !important; }
.wtmail-icon-movetofolder-xs { background-image: url('movetofolder_16.png') !important; }
.wtmail-icon-mailcardedit-xs { background-image: url('mailcard_edit_16.png') !important; }
.wtmail-icon-mailcardremove-xs { background-image: url('mailcard_remove_16.png') !important; }
.wtmail-icon-htmleditor-template-xs { background-image: url('htmleditor_template_16.png') !important; }
.wtmail-icon-attachment-xs { background-image: url('attachment_16.png') !important; }

.wtmail-icon-header-priority-xs { background-image: url('headerpriority_16.gif') !important; background-repeat: no-repeat; background-position: center; }
.wtmail-icon-priority-high-xs { background-image: url('priorityhigh_16.gif') !important; background-repeat: no-repeat; background-position: center; }

.wtmail-icon-header-status-xs { background-image: url('headerstatus_16.gif') !important; background-repeat: no-repeat; background-position: center; }
.wtmail-icon-status-unread-xs { background-image: url('statusread_16.png') !important; }
.wtmail-icon-status-read-xs { background-image: url('statusunread_16.png') !important; }
.wtmail-icon-status-new-xs { background-image: url('statusnew_16.png') !important; }
.wtmail-icon-status-replied-xs { background-image: url('statusreplied_16.png') !important; }
.wtmail-icon-status-forwarded-xs { background-image: url('statusforwarded_16.png') !important; }
.wtmail-icon-status-replied-forwarded-xs { background-image: url('statusrepfwd_16.png') !important; }

.wtmail-icon-header-attach-xs { background-image: url('headerattach_16.gif') !important; background-repeat: no-repeat; background-position: center; }
.wtmail-icon-header-flag-xs { background-image: url('headerflag_16.gif') !important; background-repeat: no-repeat; background-position: center; }
.wtmail-icon-header-note-xs { background-image: url('headermailnote_16.gif') !important; background-repeat: no-repeat; background-position: center; }
.wtmail-icon-header-docmgt-xs { background-image: url('headerdocmgt_16.png') !important; background-repeat: no-repeat; background-position: center; }

.wtmail-header-text-clip div div div div { text-overflow: clip; }

/* tree */
.wtmail-icon-inbox-folder-xs { background-image: url(imap-folder-inbox_16.png) !important; }
.x-grid-tree-node-expanded .wtmail-icon-inbox-folder-xs { background-image: url(imap-folder-inbox-open_16.png) !important; }
.wtmail-icon-drafts-folder-xs { background-image: url(imap-folder-drafts_16.png) !important; }
.x-grid-tree-node-expanded .wtmail-icon-drafts-folder-xs { background-image: url(imap-folder-drafts-open_16.png) !important; }
.wtmail-icon-sent-folder-xs { background-image: url(imap-folder-sent_16.png) !important; }
.x-grid-tree-node-expanded .wtmail-icon-sent-folder-xs { background-image: url(imap-folder-sent-open_16.png) !important; }
.wtmail-icon-spam-folder-xs { background-image: url(imap-folder-spam_16.png) !important; }
.x-grid-tree-node-expanded .wtmail-icon-spam-folder-xs { background-image: url(imap-folder-spam-open_16.png) !important; }
.wtmail-icon-trash-folder-xs { background-image: url(imap-folder-trash_16.png) !important; }
.x-grid-tree-node-expanded .wtmail-icon-trash-folder-xs { background-image: url(imap-folder-trash-open_16.png) !important; }
.wtmail-icon-shared-folder-xs { background-image: url(imap-folder-shared_16.png) !important; }
.x-grid-tree-node-expanded .wtmail-icon-shared-folder-xs { background-image: url(imap-folder-shared-open_16.png) !important; }

.wtmail-icon-htmleditor-template-xs { background-image: url('htmleditor_template_16.png') !important; }

.wtmail-row-unread TD DIV { font-weight: bold; }
.wtmail-row-today { background-color: #F8F8C8; }
/* .wtmail-icon-testaction { background-image: url('mail_16.png') !important; }*/

table.x-grid-item-selected .wtmail-row-today { background-color: #e0e0b0; }

/* message view classes */
.wtmail-mv-container { padding: 0px 0px 0px 0px; background-color: #ffffff; }
.wtmail-mv-main {
    background-color: white;
/*    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    border-bottom: 0px solid black;*/
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.wtmail-mv-table { width: 100%; height: 100%; }
.wtmail-mv-header { padding: 6px 6px 0px 6px; border: none; }
.wtmail-mv-hsubject { font-family: Arial,Verdana,Helvetica,sans-serif; font-size: 16px; font-weight: bold; }
.wtmail-mv-hfromname { font-family: Arial,Verdana,Helvetica,sans-serif; font-size: 16px; font-weight: plain; }
.wtmail-mv-hfromname A {text-decoration: none; color: black; }
.wtmail-mv-hfromname A:hover {text-decoration: none; color: black; background-color: #D9E8FB; }
.wtmail-mv-hlabeldate {font-family: Arial,Verdana,Helvetica,sans-serif; font-size: 12px; font-weight: bold; width: 25px; text-align: left; vertical-align: top;}
.wtmail-mv-hlabelto {font-family: Arial,Verdana,Helvetica,sans-serif; font-size: 12px; font-weight: bold; width: 25px; text-align: left; vertical-align: top;}
.wtmail-mv-hlabelcc {font-family: Arial,Verdana,Helvetica,sans-serif; font-size: 12px; font-weight: bold; width: 25px; text-align: left; vertical-align: top;}
.wtmail-mv-hlabelattach {font-family: Arial,Verdana,Helvetica,sans-serif; font-size: 12px; font-weight: bold; width: 50px; text-align: left; vertical-align: top;}
.wtmail-mv-hlabelattach A {text-decoration: none; color: black; }
.wtmail-mv-hlabelattach A:hover {text-decoration: none; color: black; background-color: #D9E8FB; }
.wtmail-mv-hdate { font-family: Arial,Verdana,Helvetica,sans-serif; font-size: 12px; font-weight: plain; }
.wtmail-mv-hdate A {text-decoration: none; color: black; }
.wtmail-mv-hdate A:hover {text-decoration: none; color: black; background-color: #D9E8FB; }
.wtmail-mv-hto {font-family: Arial,Verdana,Helvetica,sans-serif; font-size: 12px; font-weight: plain; }
.wtmail-mv-hto SPAN A {text-decoration: none; color: black; }
.wtmail-mv-hto SPAN A:hover {text-decoration: none; color: black; background-color: #D9E8FB; }
.wtmail-mv-hcc {font-family: Arial,Verdana,Helvetica,sans-serif; font-size: 12px; font-weight: plain; }
.wtmail-mv-hcc SPAN A {text-decoration: none; color: black; }
.wtmail-mv-hcc SPAN A:hover {text-decoration: none; color: black; background-color: #D9E8FB; }
.wtmail-mv-hattach {font-family: Arial,Verdana,Helvetica,sans-serif; font-size: 12px; font-weight: plain; color: black; }
.wtmail-mv-hattach SPAN A {text-decoration: none; color: black; }
.wtmail-mv-hattach SPAN A IMG { border: none; vertical-align: middle; }
.wtmail-mv-hattach SPAN A:hover {text-decoration: none; color: black; background-color: #D9E8FB; }
.wtmail-mv-hicalmessage { 
	border-top: 1px solid gray; width:100%; height:22px; background-color: #99ccFF;
	font-family: Arial,Verdana,Helvetica,sans-serif; font-size: 14px; font-weight: plain; 
	padding-top: 4px;
}
.wtmail-mv-hicalmessage A {text-decoration: none; color: black; }
.wtmail-mv-hicalmessage A:hover {text-decoration: none; color: white; background-color: #5588FF; }
.wtmail-mv-hline { border-bottom: 1px solid gray; width:100%; height:2px;}
.wtmail-mv-bodycell { 
    padding: 0px 6px 6px 6px; border: none; height: 100%;
}

.wtmail-mv-bodydiv { 
    border: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width:100%;
    overflow:auto;
}
.wtmail-mv-bodyiframe {
    border: none;
}
.wtmail-mv-tablecontents {
    width: 100%;
}
.wtmail-mv-subject-table { width: 100%; border: none; }
.wtmail-mv-subject-table TR TD { border: none; padding: 0px; }

.wtmail-attach-item {text-decoration: none; font-family: Arial,Verdana,Helvetica,sans-serif; font-size: 12px; font-weight: plain; color: black; }
.wtmail-attach-item-normal {background-color: transparent; border: none; cursor: pointer}
.wtmail-attach-item-over { background-color: #D9E8FB; background-image: none; }

div#wtmail-editor-mailcard { border: 1px dotted lightgray !important; }

.wtmail-element-toclick {
    cursor: pointer
}

.wtmail-element-toclick-selected {
    background-color: #D9E8FB;
}

.wtmail-ical-tabletitle { font-family: 'Arial'; border-collapse:collapse; table-layout:fixed; width: 800px; border: 2px solid black; border-bottom: none }
.wtmail-ical-tabledata { font-family: 'Arial'; border-collapse:collapse; table-layout:fixed; width: 800px; border: 2px solid black }
.wtmail-ical-title { background-color: #77AAFF; color: white; text-align: center; font-weight: bold }
.wtmail-ical-label { background-color: #cccccc; width: 150px; vertical-align: top }
.wtmail-ical-data { word-wrap: break-word }
.wtmail-ical-accepted-xs { display: inline-block; width:16px; height:16px; background-image:url('ical-accepted_16.png') !important; }
.wtmail-ical-declined-xs { display: inline-block; width:16px; height:16px; background-image:url('ical-declined_16.png') !important; }
.wtmail-ical-needaction-xs { display: inline-block; width:16px; height:16px; background-image:url('ical-needaction_16.png') !important; }
.wtmail-ical-tentative-xs { display: inline-block; width:16px; height:16px; background-image:url('ical-tentative_16.png') !important; }

blockquote { 
    display: block;
    margin-left: 5px;
    border-left: solid 2px blue;
    padding-left: 10px;
}
