.wtmail-icon-service-xs { background-image: url('mail_16.png') !important; }
.wtmail-icon-service-s { background-image: url('mail_24.png') !important; }
.wtmail-icon-service-m { background-image: url('mail_32.png') !important; }
.wtmail-icon-service-l { background-image: url('mail_48.png') !important; }

.wtmail-row-unread TD DIV { font-weight: bold; }
.wtmail-row-today { background-color: #F8F8C8; }
.wtmail-icon-testaction { background-image: url('mail_16.png') !important; }
