:root {
	
	--wt-mail-grid-row-today-selected-color: #ffffa0;
	--wt-mail-grid-row-today-unselected-color: #f8f8c8;
}

/* Service Icons */
/* ---------- Icons (service) */
.wtmail-icon-service,
.wtmail-icon-service-sm { background-image: url('service-on@sm.svg') !important; background-size: contain; }
.wtmail-icon-service-off-sm { background-image: url('service-off@sm.svg') !important; background-size: contain; }
.wtmail-icon-service-md { background-image: url('service-on@md.svg') !important; background-size: contain; }
.wtmail-icon-service-off-md { background-image: url('service-off@md.svg') !important; background-size: contain; }
.wtmail-icon-service-lg { background-image: url('service-on@lg.svg') !important; background-size: contain; }
.wtmail-icon-service-off-lg { background-image: url('service-off@lg.svg') !important; background-size: contain; }


/* <-- USEFUL ???
.wtmail-trees .x-grid-body {
    border-top: 0px;
}

.wtmail-tool-items .x-panel-body {
    border-top: 0px;
}

.wtmail-grid-toolbar-container {
	padding: 8px;
}
*/

/* ---------- IMAP Tree */
/* Apply contrasting BG color to any selected tree items */
.wtmail-imap-tree .x-grid-item.x-grid-item-selected {
    background-color: var(--wt-theme-color-surface-l2); 
}
/* <-- USEFUL ???
.wtmail-imap-tree {
	padding-bottom: 5px;
}
*/

/* ---------- Tree */
.wtmail-tree-unread-cell {
    font-size: var(--wt-theme-fontsize-xs, inherit);
    font-weight: var(--wt-theme-fontweight-medium, normal);
    line-height: var(--wt-theme-lineheight-sm, inherit);
	background-color: var(--wt-theme-color-surface-l4) !important; 
	border-radius: 4px;
	padding-left: 6px;
	padding-right: 6px;
}
.wtmail-tree-folder-span-bold {
    font-weight: var(--wt-theme-fontweight-bold, 500) !important;
}

/* ---------- Main (center) container */
.wtmail-main {
    border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

/* ---------- Breadcrumb */
/* <-- USEFUL ???
.wtmail-breadcrumb .x-btn-inner-plain-toolbar-small {
	font-size: 18px;
	font-weight: 500;
}
.wtmail-breadcrumb .x-btn {
	box-shadow: none !important;
	cursor: default !important;
}
.wtmail-breadcrumb .x-btn-pressed {
	background-color: transparent !important;
}
.wtmail-breadcrumb-over .x-btn {
	background-color: transparent;
    box-shadow: none !important;
}
*/

/* ---------- MessageView */
/* <-- USEFUL ???
.wtmail-mv-header { font-family: Poppins, sans-serif; padding: 0px 6px 0px 12px; }
.wtmail-mv-header-avatar { vertical-align: top; width: 48px; }
.wtmail-mv-hsubject { padding-bottom: 8px; padding-left: 8px; font-size:20px; }
.wtmail-mv-hfromname { padding-bottom: 8px; font-size:14px; font-weight: bold }
.wtmail-mv-hthroughname { padding-bottom: 8px; }
.wtmail-mv-hdate { padding-bottom: 8px; }
.wtmail-mv-hto { padding-bottom: 8px; }
.wtmail-mv-hcc { padding-bottom: 8px; }
.wtmail-mv-hbcc { padding-bottom: 8px; }
.wtmail-mv-hattach { padding-bottom: 8px; }
.wtmail-mv-hline { border-bottom: 1px solid #9CA3AF }
.wtmail-mv-bodycell { padding-top: 8px; }
.wtmail-messageview-toolbar-container {
	padding-top: 8px;
	padding-left: 4px;
}
.wtmail-mv-avatar .so-avatar-initials { background-color: var(--wt-theme-color-n2) !important; }
.wtmail-mv-avatar .so-avatar-initials SPAN { color: var(--wt-theme-color-n1-inv) !important; }
.wtmail-note { color: #374151; }
*/

/* ---------- MessageGrid */
/* <-- USEFUL ???
.wtmail-message-grid .x-grid-body {
	border-top: 0px;
}
/* Align seen/unseen icon vertically to match next-to column's sender text */
.wtmail-message-grid .so-grid-cell-inner-iconcolumn {
    padding-top: 12px;
}
.wtmail-message-grid .x-grid-with-row-lines .x-grid-item.wtmail-x-grid-item-noborderbottom {
	border-width: 0px 0 0px;
}
.wtmail-message-grid .x-grid-with-row-lines .x-grid-item.wtmail-x-grid-item-read:not(.wtmail-x-grid-item-noborderbottom) {
	border-width: 0px 0 1px;
	border-color: #e5e7eb;
}
.wtmail-message-grid .x-grid-with-row-lines .x-grid-item.wtmail-x-grid-item-unread:not(.wtmail-x-grid-item-noborderbottom) {
	border-width: 0px 0 1px;
	border-color: white;
}
.wtmail-row-body .x-grid-rowbody {
	padding-left: 100px !important;
	padding-top: 0px !important;
	font-size: 12px;
	font-weight: normal;
}
.wtmail-row-body.wtmail-row-body-threaded .x-grid-rowbody {
	padding-left: 105px !important;
}
.wtmail-row-body .x-grid-rowbody > SPAN {
	padding-left: 0px !important;
}
/*.wtmail-row-unread .x-grid-cell-inner { padding-bottom: 0px }*/
/* Style unread groups */
.wtmail-message-grid .x-grid-item .wtmail-row-unread-first .x-grid-cell-first {
	border-top-left-radius: 7.5px;
}
.wtmail-message-grid .x-grid-item .wtmail-row-unread-first .x-grid-cell-last {
	border-top-right-radius: 7.5px;
}
.wtmail-message-grid .x-grid-item .wtmail-row-unread-last .x-grid-cell-first {
	border-bottom-left-radius: 7.5px;
}
.wtmail-message-grid .x-grid-item .wtmail-row-unread-last .x-grid-cell-last {
	border-bottom-right-radius: 7.5px;
}
.wtmail-message-grid .x-grid-item .wtmail-row-body-unread TD {
	border-bottom-left-radius: 7.5px;
	border-bottom-right-radius: 7.5px;
}
/* Add vertical watermark to group threaded items */
.wtmail-x-grid-item-threadfirst .x-grid-cell-last:before {
	position: absolute;
	height: 100%;
	content: "";
	border-left: 2px solid var(--wt-theme-color-1);
	bottom: 0px;
	top: 8px;
}
.wtmail-x-grid-item-threadchild .x-grid-cell-last:before {
	position: absolute;
	height: 100%;
	content: "";
	border-left: 2px solid var(--wt-theme-color-1);
	bottom: 8px;
	top: 0px;
}
.wtmail-x-grid-item-threadchild.wtmail-x-grid-item-noborderbottom .x-grid-cell-last:before {
	position: absolute;
	height: 100%;
	content: "";
	border-left: 2px solid var(--wt-theme-color-1);
}
*/

/* ---------- Editor */
/* <-- USEFUL ???
.wtmail-editor-htmleditor-container > * > .x-panel-body {
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 16px;
}
.wtmail-editor-htmleditor-container .so-tmcehtmleditor-toolbar {
	padding-left: 24px;
}
*/

/* ---------- Quota */
/* <-- USEFUL ???
.wtmail-progress-quota { background-color: var(--wt-theme-color-surface-l4); height: 6px; border-radius: 10px }
*/
/* Style progress fill */
/* <-- USEFUL ???
.wtmail-progress-quota .x-progress-bar { background-color: var(--wt-theme-color-popup); height: 6px; border-radius: 10px; }
*/

/* ---------- UX grid.column.Message */
.wtmail-messagecolumn-head {
    font-size: var(--wt-theme-fontsize-sm);
    font-weight: var(--wt-theme-fontweight-regular);
    color: var(--wt-theme-color-n2);
}
.wtmail-messagecolumn-head-float {
    font-size: var(--wt-theme-fontsize-xs);
    font-weight: var(--wt-theme-fontweight-regular);
    color: var(--wt-theme-color-n2);
}
.wtmail-messagecolumn-body {
    font-size: var(--wt-theme-fontsize-xs);
    font-weight: var(--wt-theme-fontweight-regular);
    color: var(--wt-theme-color-n2);
}
.wtmail-messagecolumn-body-float {
    font-size: var(--wt-theme-fontsize-xs);
    font-weight: var(--wt-theme-fontweight-regular);
    color: var(--wt-theme-color-n2);
}
.wtmail-messagecolumn-collapsetool {
    font-size: var(--wt-theme-fontsize-sm);
    font-weight: var(--wt-theme-fontweight-medium);
    color: var(--wt-theme-color-1);
}
.wtmail-messagecolumn-grid-cell.wtmail-messagecolumn-grid-cell-unread .wtmail-messagecolumn-head {
    color: var(--wt-theme-color-n1);
	font-weight: var(--wt-theme-fontweight-medium);
}
.wtmail-messagecolumn-grid-cell.wtmail-messagecolumn-grid-cell-unread .wtmail-messagecolumn-body {
    color: var(--wt-theme-color-n1);
	font-weight: var(--wt-theme-fontweight-medium);
}